$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

* ,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit /* inherits this value from body box-sizing property */
}

html {
    font-size: 62.5%; /*default font-size of browsers is 16px (100%), 62.5% means 10px */
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color:#777;
    padding: 3rem;
    box-sizing: border-box
}

.header {
    height: 95vh;
    position: relative;
    background-image: linear-gradient(
                                        to right bottom,
                                        rgba($color-primary-light,0.8),
                                        rgba($color-primary-dark,0.8),
                                        url(../img/hero.jpg));
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
}

.header__logo-box {
    top: 4rem;
    left: 4rem;
    position: absolute;
    
}

.header__logo {
    height: 3.5rem;
    position: absolute;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-primary--main {
    font-weight: 40rem;
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    animation: moveInLeft 1s ease-out
}

.heading-primary--sub {
    font-weight: 70rem;
    display: block;
    letter-spacing: 1.75rem;
    font-size: 2rem;
    animation: moveInRight 1s ease-out
    
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-10rem);
        opacity: 0; /* opacity value of 0 makes it invisible at start */
    }
    80% {
        transform: translateX(1rem);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }
    80% {
        transform: translateX(-1rem);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.btn:link,
.btn:visited {
    text-transform:  uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0px 1rem 2rem rgba(0,0,0,0.2);
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0px 1rem 1rem rgba(0,0,0,0.2);
}
    

.btn-white {
    background-color: white;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; /* to move this element behind button */
    border-radius: 10rem;
    top: 0rem;
    left: 0rem;
    transition: all 0.4s;
}

.btn--white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6); 
    opacity: 0;
}

@keyframes moveInBottom {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s; /*0.75s is the delay bfore animation appears */
    animation-fill-mode: backwards; /*to make button invisible at page load */
}